@import 'jeet'
@import 'axis/animation'

// edit()

$roundish
    border-radius 3px
    padding 5px 10px

a
    color blue
    &:hover
        color darken(blue, 20%)

header#top
    background #eee
    margin-bottom 20px
    overflow hidden
    > div
        center(1300px, 20px)
        padding-top 20px
        padding-bottom 20px
        align(v)
    a.logo
        col(1.5/8)
        animation tada 300ms
    nav
        col(1/2, offset: 2.5/8)
        position relative
        z-index 1
        a
            col(1/4 1/2)
            button(yellow)
            padding-left 0
            padding-right 0
.page
    center(1300px, 20px)
#sidebar
    col(1/8)
    shift(7/8)
    padding-top 20px
    a
        button(white)
        display block 
        margin-bottom 10px
        padding-left 0
        padding-right 0
section.basics
    col(7/8)
    shift(-1/8)
    > article
        @extend $cf
        border-bottom 1px solid #eee
        padding-top 20px
        &:last-child
            border-bottom none 
        .code
            col(1/2.5 7/8)
            pre
                fs(12px)
                margin-bottom 20px
        .result
            margin-bottom 20px
            col(1.5/2.5 7/8)
            a
                text-decoration none
        &.basic
            aside
                col(1/3)
                @extend $roundish
            article
                col(2/3)
                @extend $roundish
        &.nested
            .result
                aside
                    col(1/3 1.5/2.5 7/8)
                    @extend $roundish
                article
                    col(2/3 1.5/2.5 7/8)
                    @extend $roundish
        &.cycle
            .block
                @extend $roundish
                col(1/4 1.5/2.5 7/8, cycle: 4)
                margin-bottom 10px
        &.spans
            nav
                @extend $cf
                background none 
                a
                    span(1/3)
                    @extend $roundish
                    &:hover
                        background rgba(#000, .25) 
                    &:first-child
                        border-top-right-radius 0
                        border-bottom-right-radius 0
                    &:nth-child(2)
                        border-radius 0
                    &:last-child
                        border-top-left-radius 0
                        border-bottom-left-radius 0
        &.offsets
            .logo
                col(1/4 1.5/2.5 7/8)
                @extend $roundish
            nav
                col(1/2 1.5/2.5 7/8, offset: 1/4)
                background none
                a
                    span(1/3)
                    @extend $roundish
                    &:hover
                        background rgba(#000, .25) 
                    &:first-child
                        border-top-right-radius 0
                        border-bottom-right-radius 0
                    &:nth-child(2)
                        border-radius 0
                    &:last-child
                        border-top-left-radius 0
                        border-bottom-left-radius 0
        &.ordering
            article
                col(3/5 1.5/2.5 7/8)
                @extend $roundish
            nav
                col(2/5 1.5/2.5 7/8)
                background none 
                a
                    @extend $roundish
                    display block
                    margin-bottom 5px
                    &:hover
                        background rgba(#000, .25) 
                    &:last-child
                        margin-bottom 0
        &.centering
            .demo
                header
                    @extend $roundish
                    background rgba(#000, .15)
                    > div
                        @extend $roundish
                        center(250px)
        &.edit
            .demo
                article, aside
                    @extend $roundish
                article
                    col(2/3 1.5/2.5 7/8)
                aside
                    col(1/3 1.5/2.5 7/8)
                header, p
                    @extend $roundish
                header
                    margin-bottom 5px
        &.align
            .demo
                div
                    align(both)
                    height 200px
                    @extend $roundish
                img
                    @extend $roundish
                    padding 0
        &.mobile
            .demo
                div
                    flash(warning)
                    fs(13px)
                    line-height 20px
        &.stack
            aside, article
                @extend $roundish
            aside
                col(1/3 1.5/2.5 7/8)
            article
                col(2/3 1.5/2.5 7/8)

.result
    > div
        edit()
    .demo
        @extend $cf
    header
        margin-bottom 20px
        h4
            fs(20px)
            line-height 26px 
            margin-top 0
            margin-bottom 0
            color #222 
        p
            fs(12px)
            margin-top 5px
            line-height 20px 

pre
    pre()
    position relative
    &:after
        absolute bottom right 5px
        content attr(class)
        bold()
        fs(10px)
        color darken(#eee, 20%)
code
    code()
    fs(10px)

.back_to_top
    fixed bottom 5px right 5px
    button(yellow)
    display none 

// Mobile
bp(800px)
header#top > div, section.basics article .result
    stack()
header#top a.logo
    stack()
    margin-bottom 20px
    img
        width 150px
header#top
    margin-bottom 0
header#top nav
    stack()
    a
        col(1/2, cycle: 2)
        margin-bottom 10px
section.basics article .result aside
    col(1/3)
section.basics article .result article
    col(2/3)
section.basics > article.ordering article
    col(3/5 1.5/2.5 7/8)
    shift(2/5 1.5/2.5 7/8)
section.basics > article.ordering nav
    col(2/5 1.5/2.5 7/8)
    shift(-3/5 1.5/2.5 7/8)
#sidebar, section.basics
    unshift()
    stack()
section.basics > article .code
    stack(align: left)
#sidebar
    a
        border-radius 0
        margin-bottom 0 
        padding-top 13px
        padding-bottom 13px
        border-bottom none
        &:first-child
            border-top-left-radius 3px
            border-top-right-radius 3px
        &:last-child
            border-bottom-left-radius 3px
            border-bottom-right-radius 3px
section.basics > article.cycle .block
    col(1/2 1.5/2.5 7/8, cycle: 2, uncycle: 4)
endbp()

bp(550px, mf)
section.basics > article.mobile .demo div
    flash(error)
endbp()

bp(1000px)
section.basics > article.stack aside, section.basics > article.stack article
    stack(align: left)
    margin-bottom 10px
endbp()