html{color:#555;font-size:16.18px;font-weight:200;line-height:24.270000000000003px;font-family:"Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif}
a{color:#00a6fc;}
a:hover{color:#0095e3}
h1,h2,h3,h4,h5,h6,strong,b,dt{color:#222;font-weight:bold}
h1{font-size:45.304px;line-height:48.540000000000006px;margin-bottom:16.18px}
h2{font-size:40.45px;line-height:45.304px;margin-bottom:12.944px}
h3{font-size:35.596000000000004px;line-height:42.068000000000005px;margin-bottom:9.708px}
h4{font-size:30.742px;line-height:38.832px;margin-bottom:6.472px}
h5{font-size:25.888px;line-height:35.596000000000004px;margin-bottom:3.236px}
h6{font-size:21.034000000000002px;line-height:32.36px;margin-bottom:0}
p,ul,ol,pre,dl{margin-bottom:16.18px}
ul,ol{padding-left:1.4em}
li,dd{margin-bottom:8.09px}
pre{font-size:12.944px}
header * + p{color:#bbb}
header h1 + p,header h1 + p + p,header h1 + p + p + p{margin-top:-16.18px;margin-bottom:16.18px}
header h2 + p,header h2 + p + p,header h2 + p + p + p{margin-top:-12.944px;margin-bottom:12.944px}
header h3 + p,header h3 + p + p,header h3 + p + p + p{margin-top:-9.708px;margin-bottom:9.708px}
header h4 + p,header h4 + p + p,header h4 + p + p + p{margin-top:-6.472px;margin-bottom:6.472px}
header h5 + p,header h5 + p + p,header h5 + p + p + p{margin-top:-3.236px;margin-bottom:3.236px}
header h6 + p,header h6 + p + p,header h6 + p + p + p{margin-top:-3.236px;margin-bottom:3.236px}
@media all and (max-width: 1000px) {
html{font-size:12.5px;line-height:18.75px}
h1{font-size:35px;line-height:37.5px;margin-bottom:12.5px}
h2{font-size:31.25px;line-height:35px;margin-bottom:10px}
h3{font-size:27.5px;line-height:32.5px;margin-bottom:7.5px}
h4{font-size:23.75px;line-height:30px;margin-bottom:5px}
h5{font-size:20px;line-height:27.5px;margin-bottom:2.5px}
h6{font-size:16.25px;line-height:25px;margin-bottom:0}
p,ul,ol,pre,dl{margin-bottom:12.5px}
li,dd{margin-bottom:6.25px}
pre{font-size:10px}
header h1 + p,header h1 + p + p,header h1 + p + p + p{margin-top:-12.5px;margin-bottom:12.5px}
header h2 + p,header h2 + p + p,header h2 + p + p + p{margin-top:-10px;margin-bottom:10px}
header h3 + p,header h3 + p + p,header h3 + p + p + p{margin-top:-7.5px;margin-bottom:7.5px}
header h4 + p,header h4 + p + p,header h4 + p + p + p{margin-top:-5px;margin-bottom:5px}
header h5 + p,header h5 + p + p,header h5 + p + p + p{margin-top:-2.5px;margin-bottom:2.5px}
header h6 + p,header h6 + p + p,header h6 + p + p + p{margin-top:-2.5px;margin-bottom:2.5px}
}
body,.cf,.chromeframe p{zoom:1;}
body:before,.cf:before,.chromeframe p:before,body:after,.cf:after,.chromeframe p:after{content:"";display:table}
body:after,.cf:after,.chromeframe p:after{clear:both}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;*behavior:url("js/vendor/boxsizing.htc");margin:0;padding:0}
html{overflow-y:scroll;overflow-x:hidden}
body{width:100%}
img,video,audio,embed,object,input,iframe{max-width:100%}
.chromeframe{width:100%;background:#fff;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee));background:-webkit-linear-gradient(top, #fff 0%, #eee 100%);background:-moz-linear-gradient(top, #fff 0%, #eee 100%);background:-o-linear-gradient(top, #fff 0%, #eee 100%);background:-ms-linear-gradient(top, #fff 0%, #eee 100%);background:linear-gradient(top, #fff 0%, #eee 100%);border-bottom:1px solid #ddd;-webkit-box-shadow:inset 0 -1px 0 #fff;-moz-box-shadow:inset 0 -1px 0 #fff;-o-box-shadow:inset 0 -1px 0 #fff;-ms-box-shadow:inset 0 -1px 0 #fff;box-shadow:inset 0 -1px 0 #fff;text-shadow:0 1px 0 #fff;}
.chromeframe p{width:auto;max-width:1410px;float:none !important;display:block;margin-right:auto !important;margin-left:auto !important;padding-left:15px;padding-right:15px;padding:15px 0;margin-top:0;margin-bottom:0;text-align:center;margin-bottom:0;}
.chromeframe p a{color:#3a95fb}
body{width:auto;max-width:800px;float:none !important;display:block;margin-right:auto !important;margin-left:auto !important;padding-left:15px;padding-right:15px;padding:30px}
@media all and (max-width: 705px) {
}
