@import 'jeet'

edit()

body
    center(800px, 0)
    text-align center
    margin-top 30px 

div
    col(.5)
    margin-bottom 10px 
    .nested
        col(.5 .5)
        .deeper
            col(.5 .5 .5, cycle: 2)


// Mobile
bp()

endbp()