@import 'jeet'

// edit()

html
    min-height 4000px
    background lighten(red, 40%) 
section
    center(800px)
    // margin-top 60px 
aside
    col(1/4)
    text-align center
    background blue 
    h4
        padding 10px 10px 0
    a
        display block
        color #FFF 
        padding 10px
        text-decoration none
article
    col(3/4)
    background #FFF
    padding 30px


// Mobile
bp()

endbp()