body,.cf,.chromeframe p,header > div,.hamburger{zoom:1;}
body:before,.cf:before,.chromeframe p:before,header > div:before,.hamburger:before,body:after,.cf:after,.chromeframe p:after,header > div:after,.hamburger:after{content:"";display:table}
body:after,.cf:after,.chromeframe p:after,header > div:after,.hamburger:after{clear:both}
html,body,div,span,applet,object,iframe,h1,h2,h3,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr,th,td{font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline;margin:0;padding:0;outline:0;border:none}
body{line-height:1}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{margin:0;padding:0;border:none;outline:0;display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]),[hidden]{display:none}
body{font-family:"Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;font-size:16px;font-size:103.36%;color:#555;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size-adjust:auto}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;*behavior:url("js/vendor/boxsizing.htc")}
html{overflow-y:scroll;overflow-x:hidden}
body{width:100%}
img,video,audio,embed,object,input,iframe{max-width:100%}
.chromeframe{width:100%;background:#fff;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee));background:-webkit-linear-gradient(top, #fff 0%, #eee 100%);background:-moz-linear-gradient(top, #fff 0%, #eee 100%);background:-o-linear-gradient(top, #fff 0%, #eee 100%);background:-ms-linear-gradient(top, #fff 0%, #eee 100%);background:linear-gradient(top, #fff 0%, #eee 100%);border-bottom:1px solid #ddd;-webkit-box-shadow:inset 0 -1px 0 #fff;-moz-box-shadow:inset 0 -1px 0 #fff;-o-box-shadow:inset 0 -1px 0 #fff;-ms-box-shadow:inset 0 -1px 0 #fff;box-shadow:inset 0 -1px 0 #fff;text-shadow:0 1px 0 #fff;}
.chromeframe p{max-width:1410px;float:none;display:block;margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;padding:15px 0;margin-top:0;margin-bottom:0;text-align:center;margin-bottom:0;}
.chromeframe p a{color:#3a95fb}
header{background:#444;}
header > div{max-width:800px;float:none;display:block;margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
header > div > a{padding-top:13px;padding-bottom:14px}
header a{color:#fff;text-decoration:none;float:left;display:block;padding:16px 25px 14px}
.logo{font-size:20px;font-weight:bold;position:relative;z-index:1}
.hamburger{position:relative;@media all and (max-width: 705px) {}}
.hamburger > button{display:none}
@media all and (max-width: 705px) {
.hamburger > nav{position:absolute;right:0;top:100%;width:100%;display:none;}
.hamburger > nav a{float:none;cursor:pointer;width:100%;text-align:left;margin:0;border:0;font-size:16px;color:#fff;background:#222;padding:20px;}
.hamburger > nav a:hover,.hamburger > nav a:active,.hamburger > nav a:focus{background:#1f1f1f}
.hamburger > nav a:last-child{border-bottom-left-radius:3px;border-bottom-right-radius:3px}
.hamburger > button{display:block;float:right;background:none;border:none;text-indent:-9999px;height:0;width:0;position:relative;cursor:pointer;}
.hamburger > button:after{font-size:13px;padding:9.945px 21.879px;-webkit-border-radius:3.000002307694083px;-moz-border-radius:3.000002307694083px;-o-border-radius:3.000002307694083px;-ms-border-radius:3.000002307694083px;border-radius:3.000002307694083px;background-color:#222;color:#fff;color:rgba(255,255,255,0.95);cursor:pointer;font-weight:bold;font-family:"Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;line-height:1;text-align:center;text-decoration:none;display:inline-block;position:absolute;top:7px;right:0;content:'';background:#222 url("../img/menu_white.png") center no-repeat;width:20px;height:20px;padding:7px}
.hamburger > button:after:hover,.hamburger > button:after:focus{background-color:#202020;color:#f7f7f7;color:rgba(247,247,247,0.95)}
.hamburger > button:after:active{background-color:#1f1f1f}
}
@media all and (max-width: 705px) {
}
