@import 'jeet'


// edit()

html
    padding 30px
    min-height 2000px 

section
    center(800px)
aside
    col(1/3)
    a
        button()
        display block
        margin-bottom 10px
        &.active
            button(green)
            display block
.wrap
    col(2/3)
article
    background lighten(blue, 80%)
    padding 30px
    margin-bottom 30px



// Mobile
bp()

endbp()